@model MainMVC.Models.Polls.Entities.Poll

@{
    ViewData["Title"] = "EditPoll";
}
<h1>EditPoll</h1>

<div class="row justify-content-center">
    <div class="col-md-10">
        @using (Html.BeginForm("EditPoll", "Home", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="CreatorLogin" type="hidden" />
            <input asp-for="CreationDate" type="hidden" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @for (var question = 0; question < Model.Questions.Count; question++)
            {
                <div class="card card-body my-1">
                    <div class="form-group">
                        <label asp-for="@Model.Questions[question].Text"></label>
                        <input asp-for="@Model.Questions[question].Text" class="form-control" />
                        <span asp-validation-for="@Model.Questions[question].Text" class="text-danger"></span>
                    </div>
                    <div class="card card-body my-1">

                        @for (var answer = 0; answer < Model.Questions[question].PossibleAnswers.Count; answer++)
                        {
                            <input asp-for="@Model.Questions[question].PossibleAnswers[answer].AnswerSelectedCounter"
                                   type="hidden" />
                            <div class="form-group">
                                <label asp-for="@Model.Questions[question].PossibleAnswers[answer].Text"></label>
                                <input asp-for="@Model.Questions[question].PossibleAnswers[answer].Text" class="form-control" />
                                <span asp-validation-for="@Model.Questions[question].PossibleAnswers[answer].Text" class="text-danger"></span>
                            </div>
                        }
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="@Model.Questions[question].SoleAnswer" class="custom-control-input" asp-for="@Model.Questions[question].SoleAnswer">
                        <label class="custom-control-label" asp-for="@Model.Questions[question].SoleAnswer"></label>
                    </div>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @* <a asp-action="Index">Back to List</a> *@
</div>
