@model MainMVC.Models.Polls.Entities.Poll

<div class="container px-md-5">
    @using (Html.BeginForm("EditPoll", "Home", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input asp-for="CreatorLogin" type="hidden" />
        <input asp-for="CreationDate" type="hidden" />
        <h1>
            @Model.Name
        </h1>
        @for (var qi = 0; qi < Model.Questions.Count; qi++)
        {
            <div class="card card-body my-1">
                <h3>
                    @Model.Questions[qi].Text"
                </h3>
                <div class="card card-body my-1">

                    @for (var ai = 0; ai < Model.Questions[qi].PossibleAnswers.Count; ai++)
                    {
                        <input asp-for="@Model.Questions[qi].PossibleAnswers[ai].AnswerSelectedCounter"
                               type="hidden" />
                        <input asp-for="@Model.Questions[qi].PossibleAnswers[ai].Id"
                               type="hidden" />
                        @if (Model.Questions[qi].SoleAnswer)
                        {
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       value="@Model.Questions[qi].PossibleAnswers[ai].AnswerSelected"
                                       class="custom-control-input"
                                       asp-for="@Model.Questions[qi].PossibleAnswers[ai].AnswerSelected">
                                <label class="custom-control-label"
                                       asp-for="@Model.Questions[qi].PossibleAnswers[ai].AnswerSelected">
                                    @Model.Questions[qi].PossibleAnswers[ai].Text
                                </label>
                            </div>

                        }
                        else
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       value="@Model.Questions[qi].PossibleAnswers[ai].AnswerSelected"
                                       class="custom-control-input"
                                       asp-for="@Model.Questions[qi].PossibleAnswers[ai].AnswerSelected">
                                <label class="custom-control-label"
                                       asp-for="@Model.Questions[qi].PossibleAnswers[ai].AnswerSelected">
                                    @Model.Questions[qi].PossibleAnswers[ai].Text
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        <input type="submit" value="Save" class="btn btn-success" />
    }
</div>
