@model IList<MainMVC.Models.Polls.Entities.Question>
@{
    ViewData["Title"] = "QuestionsList";
}

<h1>QuestionsList</h1>
@for (int question = 0; question < Model.Count; question++)
{

}
@foreach (var question in Model)
{
    <div class="card mt-3 mb-1">
        <div class="card-body">
            <h6 class="card-title">
                @(Model.IndexOf(question) + 1). @question.Text
            </h6>
            <p class="ml-1">AnswersCount: @question.AnswersCount</p>
            <ul class="list-group">
                @foreach (var answer in question.PossibleAnswers)
                {
                    <li class="list-group-item">@answer.Text</li>
                }
            </ul>
            <div class="row justify-content-around">
                <p class="text-muted">Question Id: @question.Id</p>
                @Html.ActionLink("Редактировать кол-вопросов", "EditNumberOfAnswers", "Home", new { questionId = question.Id })
                @Html.ActionLink("Редактировать вопросы", "EditAnswers", "Home", new { questionId = question.Id })
            </div>
        </div>
    </div>
}