@model MainMVC.Models.Polls.Entities.Poll

@{
    ViewData["Title"] = "Test";
}
<h1>Test</h1>

<div class="row justify-content-center">
    <div class="col-md-10">
        @using (Html.BeginForm("Test", "Home", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorLogin"></label>
                <input asp-for="CreatorLogin" class="form-control" />
                <span asp-validation-for="CreatorLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            @*@foreach (var question in Model.Questions)
                {
                    <div class="card card-body my-1">
                        <div class="form-group">
                            <label asp-for="@question.Text" class="control-label"></label>
                            <input asp-for="@question.Text" class="form-control" />
                            <span asp-validation-for="@question.Text" class="text-danger"></span>
                        </div>

                        $1$<div class="form-group">
                                <label asp-for="@question.SoleAnswer" class="control-label"></label>
                                <input type="checkbox" asp-for="@question.SoleAnswer" class="form-control" />
                                <span asp-validation-for="@question.SoleAnswer" class="text-danger"></span>
                            </div>#1#
                        <div class="card card-body my-1">
                            @foreach (var answer in question.PossibleAnswers)
                            {
                                <div class="form-group">
                                    <label asp-for="@answer.Text" class="control-label"></label>
                                    <input asp-for="@answer.Text" class="form-control" />
                                    <span asp-validation-for="@answer.Text" class="text-danger"></span>
                                </div>
                            }
                        </div>
                        $1$<div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" asp-for="@question.SoleAnswer">
                            <label class="custom-control-label" asp-for="@question.SoleAnswer"></label>
                        </div>#1#
                    </div>
                }*@
            @for (var question = 0; question < Model.Questions.Count; question++)
            {
                <div class="card card-body my-1">
                    <div class="form-group">
                        <label asp-for="@Model.Questions[question].Text"></label>
                        <input asp-for="@Model.Questions[question].Text" class="form-control" />
                        <span asp-validation-for="@Model.Questions[question].Text" class="text-danger"></span>
                    </div>
                    <div class="card card-body my-1">

                        @for (var answer = 0; answer < Model.Questions[question].PossibleAnswers.Count; answer++)
                        {
                            <div class="form-group">
                                <label asp-for="@Model.Questions[question].PossibleAnswers[answer].Text"></label>
                                <input asp-for="@Model.Questions[question].PossibleAnswers[answer].Text" class="form-control" />
                                <span asp-validation-for="@Model.Questions[question].PossibleAnswers[answer].Text" class="text-danger"></span>
                            </div>
                        }
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="@Model.Questions[question].SoleAnswer" class="custom-control-input" asp-for="@Model.Questions[question].SoleAnswer">
                        <label class="custom-control-label" asp-for="@Model.Questions[question].SoleAnswer"></label>
                    </div>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @* <a asp-action="Index">Back to List</a> *@
</div>
