@page "/ViewPoll/{Id:int}"
@using BlazorApp.Models.Polls
@using BlazorApp.Data.Polls

@inject IPollRepository PollRepository

<div class="jumbotron">
    <h1>@CurrentPoll.Name</h1>
    <h3>@CurrentPoll.Description</h3>
    <h6><em>Created by @CurrentPoll.CreatorLogin on @CurrentPoll.CreationDate</em></h6>
</div>

@foreach (var question in CurrentPoll.Questions)
{
    <div class="card mt-3 mb-1">
        <div class="card-body">
            <h5 class="card-title">@(CurrentPoll.Questions.IndexOf(question) + 1). @question.Text</h5>
            <div class="list-group">
                @foreach (var answer in question.PossibleAnswers)
                {
                    <a class="list-group-item list-group-item-action">@answer</a>
                }
            </div>
        </div>
    </div>

}

<div class="row justify-content-between mt-5 pl-2 pr-2">
    <button class="btn btn-info">Pass the Poll</button>
    <button class="btn btn-danger">Cancel</button>
</div>



@code{
    [Parameter]
    public int Id { get; set; }

    public Poll CurrentPoll { get; set; }

    protected override void OnInitialized()
    {
        CurrentPoll = PollRepository.GetPoll(Id);
    }
}
